.body-font {
    font-family: 'Poppins', sans-serif;
}

.font {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

#color {
    color: rgb(243, 121, 7);
}

.paragh {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 0%;
}

.img1 {
    width: 500px;
}

.flex {
    display: flex;
    margin: 5%;
}

.link {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(red, orange);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;

}

.img2 {
    width: 90%;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 7%;
}

.img-text {
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-style: italic;
    color: orange;
}

#tt {
    color: white;
    font-style: normal;
    text-decoration: none;
    background-color: rgb(240, 143, 17);
    padding: 5px 10px 5px 10px;
    border-radius: 5%;
    text-align: center;
}